* {
	box-sizing: border-box;
}

body {
    background: #777;
}

#container {
    width: 960px;
    margin: auto;
    background:#777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #777;
}

#header {
    width: 100%;
    height: 90px;
    background: #ebebeb;
    line-height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#nav {
    width: 100%;
    height: 90px;
    background: #ebebeb;
    line-height: 90px;
    margin-bottom: 20px;
}

#section {
    background: #ebebeb;
    width: 495px;
    height: 300px;
    line-height: 70px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

#article {
    widows: 94%;
    height: 215px;
    margin: 0px 3% 0px 3%;
    background: #777;
    color: #ebebeb;
    padding-bottom: 10px;
}

#inner_header {
    background: #ebebeb;
    color: #777;
    width: 90%;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 50px;
}

#inner_paragraph {
    background: #ebebeb;
    color: #777;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 50px;
}

#aside {
    background: #ebebeb;
    width: 445px;
    height: 300px;
    line-height: 70px;
    display: inline-block;
    margin-bottom: 20px;
    float: right;
}

#footer {
    width: 100%;
    height: 90px;
    background: #ebebeb;
    line-height: 90px;
    margin-top: 20px;
    margin-bottom: 100px;
    clear: both;
}

